// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future
.layout-main-container {
    padding: 5rem 2rem 2rem 0rem;
}

.layout-sidebar {
    width: 250px;
    top: 5rem;
}

.layout-topbar {
    height: 4rem;
}

.p-button.p-button-icon-only.p-button-rounded {
    width: 2.5rem;
    height: 2.5rem;
}

.p-card {
    border-radius: 12px;
}